<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Contoller Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<h1>Test</h1>
<div class="container-fluid">
    <!--/*@thymesVar id="message" type="String"*/-->
    <code th:text="${message}"></code>
</div>
</body>
</html>